.elementor-86744 .elementor-element.elementor-element-62b01f2f{--content-width:100%;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;--z-index:99999;}.elementor-86744 .elementor-element.elementor-element-62b01f2f.e-container{--order:99999 /* order end hack */;}.elementor-86744 .elementor-element.elementor-element-61e5fc3c > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-86744 .elementor-element.elementor-element-61e5fc3c.elementor-element{--align-self:center;--order:99999 /* order end hack */;}.elementor-86744 .elementor-element.elementor-element-5536fdc0{--content-width:100%;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;--position:fixed;top:259px;--z-index:9999;}.elementor-86744 .elementor-element.elementor-element-5536fdc0.e-container{--order:99999 /* order end hack */;}body:not(.rtl) .elementor-86744 .elementor-element.elementor-element-5536fdc0{left:3px;}body.rtl .elementor-86744 .elementor-element.elementor-element-5536fdc0{right:3px;}.elementor-86744 .elementor-element.elementor-element-2dadae57 .elementor-button .elementor-align-icon-right{margin-left:8px;}.elementor-86744 .elementor-element.elementor-element-2dadae57 .elementor-button .elementor-align-icon-left{margin-right:8px;}.elementor-86744 .elementor-element.elementor-element-2dadae57 .elementor-button{font-weight:500;letter-spacing:0.4px;fill:var( --e-global-color-5c95dd8 );color:var( --e-global-color-5c95dd8 );background-color:var( --e-global-color-secondary );}.elementor-86744 .elementor-element.elementor-element-2dadae57 .elementor-button:hover, .elementor-86744 .elementor-element.elementor-element-2dadae57 .elementor-button:focus{color:var( --e-global-color-f04ea71 );background-color:var( --e-global-color-primary );}.elementor-86744 .elementor-element.elementor-element-2dadae57 .elementor-button:hover svg, .elementor-86744 .elementor-element.elementor-element-2dadae57 .elementor-button:focus svg{fill:var( --e-global-color-f04ea71 );}.elementor-86744 .elementor-element.elementor-element-2dadae57{width:auto;max-width:auto;z-index:9999;}body:not(.rtl) .elementor-86744 .elementor-element.elementor-element-2dadae57{right:-45px;}body.rtl .elementor-86744 .elementor-element.elementor-element-2dadae57{left:-45px;}.elementor-86744 .elementor-element.elementor-element-2dadae57 > .elementor-widget-container{background-color:var( --e-global-color-primary );}/* Start custom CSS for container, class: .elementor-element-62b01f2f */.custom-model-main {
  display: none;
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* z-index: 1050; */
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
  display: block;
}
.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 600px;
  margin: 30px auto;
  max-width: 97%;
}
.custom-model-wrap {
  display: block;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
	overflow-y: auto;
}
.model-open .custom-model-inner {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  z-index: 999;
}
.model-open .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.close-btn {
  position: absolute;
  right: 0;
  top: -30px;
  cursor: pointer;
  z-index: 99;
  font-size: 30px;
  color: #fff;
}

@media screen and (min-width:800px){
	.custom-model-main:before {
	  content: "";
	  display: inline-block;
	  height: auto;
	  vertical-align: middle;
	  margin-right: -0px;
	  height: 100%;
	}
}
@media screen and (max-width:799px){
  .custom-model-inner{margin-top: 45px;}
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-2dadae57 */.elementor-86744 .elementor-element.elementor-element-2dadae57{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-5536fdc0 */.custom-model-main {
  display: none;
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* z-index: 1050; */
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
  display: block;
}
.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 600px;
  margin: 30px auto;
  max-width: 97%;
}
.custom-model-wrap {
  display: block;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
	overflow-y: auto;
}
.model-open .custom-model-inner {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  z-index: 999;
}
.model-open .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.close-btn {
  position: absolute;
  right: 0;
  top: -30px;
  cursor: pointer;
  z-index: 99;
  font-size: 30px;
  color: #fff;
}

@media screen and (min-width:800px){
	.custom-model-main:before {
	  content: "";
	  display: inline-block;
	  height: auto;
	  vertical-align: middle;
	  margin-right: -0px;
	  height: 100%;
	}
}
@media screen and (max-width:799px){
  .custom-model-inner{margin-top: 45px;}
}


.elementor-86744 .elementor-element.elementor-element-5536fdc0{
    top: calc(50% + 90px);
}/* End custom CSS */